<!DOCTYPE html>
<html>
<head>
	<title>Servicio Hospital</title>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
		<div class="container-fluid">
				<div class="header">
						<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                            <a class="navbar-brand" href="/">Inicio</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                             data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                             aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                            </button>
						</nav>

				</div>
				<h2> Buscar Información</h2>

	<div class="jumbotron">			
		<form action="{{ url_for('exporesult')}}" method = "POST">
	  		<label for="inputName" class="sr-only">Documento</label>
        	<input type="name" name="Documento" id="Documento" class="form-control" placeholder="Documento" required autofocus>
			<input type = "submit" value = "Ingresar" class="btn btn-success btn-block" /><br>
        	
	  <!--Nombre:<br>
	  <input type="text" name="Nombre"><br>
	  Apellido:<br>
	  <input type="text" name="Apellido"><br>
	  C.I. Nº:<br>
	  <input type="text" name="Documento"><br>
	   <input type = "submit" value = "submit" class="btn btn-lg btn-primary btn-block"/><br> -->
		</form>
		{% if msg %}
			{{ msg }}
		{%endif%}
	</div>
	<footer class="container">
            <p>&copy; Leo Mcrose  &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
          </footer>
        
</body>
</html>
